---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="post-meta">
      <span>{{ post.date | date: "%Y년 %-m월 %-d일" }}</span>
      {% if post.comments %}
        | <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">
          <span class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.disqus_url }}">댓글 개수 로딩중...</span>
        </a>
      {% endif %}
    </div>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">예전 글</a>
  {% else %}
    <span class="pagination-item older">예전 글</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">최근 글</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">최근 글</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">최근 글</span>
  {% endif %}
</div>

