<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </div>
          <div class="h-line"></div>
          <div class="masthead-menu">
          &nbsp;&nbsp;
          {% for page in site.pages_list %}
            <a href="{{ page[1][1] }}">{{ page[1][0] }}</a>
            <a style="color: #c0c0c0; font-size: 75%; vertical-align: bottom;" href="{{ page[1][1] }}">{{ page[0] }}</a>
            &nbsp;&nbsp;
          {% endfor %}
          </div>
          <div class="h-line"></div>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer-copyright">Copyright 2016 Minjang Kim</div>
        </div>
      </footer>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;
          checkbox.checked = false;
        }, false);
      })(document);
    </script>

   <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>

  </body>
</html>
